@import "../styles/mixin.scss";
.mint-loadmore-top span,
.mint-loadmore-bottom span{
  display: inline-block;
  transition: .2s linear;
  vertical-align: middle;
}
.mint-loadmore{
  background: #E6EFED;
  padding: 3% 3% 0 3%;
  padding-bottom: 1.4rem;
}
.company-lists li{
  /*line-height: 1.5rem;*/
  padding: 3%;
  background: #fff;
  p{
    line-height:.7rem;
  }
  +li{
    margin-top: 3%;
  }
}
.company-lists a{
  display: block;
  h5{
    color: #404040;
  }
}
.company-msg p{
  //overflow: hidden;
  color: #808080;
}
.company-msg p span.icon-right{
  float: right;
  line-height: .7rem;
}
.company-msg{
  width: 80%;
  margin-left: 2%;
}
.blue-msg{
  color:$vuecolor;
}

.hot-list{
  text-overflow:ellipsis;
  margin-top: .1rem;
  padding-top: .1rem;
  position: relative;
}
.hot-list:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #808080;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleY(0.3);
  transform: scaleY(0.3);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.blue-msg{
  margin-right: .1rem;
}
.nature-list span{
  float: left;
  position: relative;
  +span{
    margin-left:.4rem;
  }
  +span:before{
    position: absolute;
    display: table;
    content: "";
    width: 1px;
    height: .3rem;
    background: #808080;
    left: -.2rem;
    top: .2rem;
  }
}
//.nature-list span